.pnCodesLogo {
  @apply h-10 w-12 bg-gray-800;
  background: linear-gradient(
    to bottom,
    theme('colors.theme-dark') 0%,
    theme('colors.theme-dark') 50%,
    theme('colors.theme-green') 50%,
    theme('colors.theme-green') 100%
  );
  background-size: 100% 200%;
  cursor: pointer;
  mask-image: url('/assets/pncodes-logo.svg');
  mask-clip: fill-box;
  transition: .3s all;

  &:hover {
    background-position: 0 100%;
  }
}